.p {
  background: green;
  display:flex;
  margin:5%;
  padding:5%;
justify-content: space-around;
}
.c{
  background: red;
  padding:3%;
  text-align: center;
  border-radius: 6%;
  margin: 2%;
  box-shadow: 5px 5px 5px blue;
  width: 23%;
}
  img{
    width: 50%;
  }
  @media only screen and (min-width:360px) and (max-width:480px){
  body{
    background: blue;
  }
  .p{
    background: green;
    display:flex;
  flex-wrap: wrap;

    padding:5%;
  justify-content: space-around;
  }
  .c{
    background: red;
    padding:3%;
    text-align: center;
    border-radius: 6%;

    box-shadow: 5px 5px 5px blue;
    width: 100%;
  }
    img{
      width: 50%;
    }
  }
@media only screen and (min-width:481px) and (max-width:760px){
  body{
    background: blue;
  }
  .p{
    background: green;
    display:flex;
    flex-wrap: wrap;
    margin:5%;
    padding:5%;
  justify-content: space-around;
  }
  .c{
    width:40%;
    background: red;
    padding:3%;
    text-align: center;
    border-radius: 6%;
    margin: 2%;
    box-shadow: 5px 5px 5px blue;
    img{
      width: 100%;
    }}
}
